<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 mt-4 p-3 mb-5 bg-light rounded">
      <div class="col-md-12 p-2">
        <label class="navbar bg-primary text-white rounded"
          ><h3 class="ms-4">Listado de las ofertas de trabajo deisponibles</h3>
          <div *ngIf="getModeAmin()" class="p-2 d-flex justify-content-center">
            <button
              class="btn btn-success fa fa-arrow-right rounded me-3"
              (click)="gotToNewOffer()"
            >
              Crear Oferta
            </button>
          </div>
        </label>
      </div>
      <table class="table-responsive ms-5">
        <thead>
          <tr>
            <th scope="col">
              <h4>#</h4>
            </th>
            <th scope="col" class="col-md-9">
              <h5>Ofertas de trabajo</h5>
            </th>
            <th scope="col" class="col-md-3">
              <h5>Ver la oferta completa</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getArrayDataOffers(); let i = index">
            <!--Colocar aquí el ngFor-->
            <th scope="row">
              <h6>{{ i + 1 }}</h6>
            </th>
            <td class="ps-5" class="border-top">
              <h5>{{ item.titulo }}</h5>
            </td>
            <td class="ps-4 p-2" *ngIf="!getModeAmin()">
              <button
                class="btn btn-outline-primary fa fa-eye rounded"
                style="width: 140px"
                (click)="fullOffer(item.id)"
              >
                Ver oferta
              </button>
            </td>
            <td class="ps-4 p-2" *ngIf="getModeAmin()">
              <ul class="navbar-nav me-2">
                <li class="nav-item dropdown">
                  <button
                    class="
                      btn btn-primary
                      dropdown-toggle
                      fa-4x fa fa-wrench
                      fs-5
                      rounded
                    "
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Administrar
                  </button>
                  <ul
                    class="dropdown-menu fs-5 rounded bg-body"
                    aria-labelledby="navbarDropdown"
                  >
                    <li class="p-2 pt-0 d-flex justify-content-center">
                      <a
                        class="
                          btn btn-primary
                          fa fa-arrow-right
                          rounded
                        "
                        (click)="fullOfferAdmin(item.id)"
                      >
                        Ver Oferta
                      </a>
                    </li>
                    <li class="p-2 d-flex justify-content-center">
                      <a
                        class="btn btn-primary fa fa-pencil rounded"
                        (click)="goToEdith(item.id, item)"
                      >
                        Editar Oferta
                      </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="d-flex justify-content-center">
                      <a
                        class="btn btn-danger fa fa-trash-o rounded"
                        (click)="deleteOffer(item.id)"
                      >
                        Borrar Oferta
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
