<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 mt-4 border shadow p-3 mb-5 bg-body rounded">
      <div class="col-md-12 p-2">
        <label class="form-control bg-primary text-white"><h3>Listado de las ofertas de trabajo deisponibles</h3></label>
      </div>
      <table class="table-responsive">
        <thead>
          <tr>
            <th scope="col"><h4>#</h4></th>
            <th scope="col" class="col-md-9"><h5>Ofertas de trabajo</h5></th>
            <th scope="col" class="col-md-3"><h5>Ver la oferta completa</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getArrayDataOffers(), let i = index"> <!--Colocar aquí el ngFor-->
            <th scope="row"><h5>{{i+1}})</h5></th>
            <td class="p-3"><h4>{{item.titulo}}</h4></td>
            <td
              class="ps-4 p-3"
              *ngIf="!getModeAmin()">
              <button
                  class="btn btn-outline-primary shadow-sm fa fa-eye"
                  style="width: 140px;"
                  (click)="goToFullOffer(item.id)">
                  Ver oferta</button>
            </td>
            <td
              class="ps-4 p-3"
              *ngIf="getModeAmin()">
              <ul
                class="navbar-nav me-2">
                <li
                  class="nav-item dropdown">
                  <a
                    class="btn btn-primary dropdown-toggle fa-4x fa fa-wrench fs-5"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Herramientas Administrador
                  </a>
                  <ul
                    class="dropdown-menu fs-5"
                    aria-labelledby="navbarDropdown">
                    <li>
                      <a
                        class="dropdown-item fa fa-arrow-right"
                        (click)="gotToNewOffer()">
                        Crear Oferta
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item fa fa-trash-o"
                        (click)="deleteOneOffer(item.id)">
                        Borrar Oferta
                      </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" >Proximamente</a></li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




