<div class="d-flex justify-content-center">
  <div class="col-8 col-sm-4 d-flex justify-content-center align-items-center">

    <div class="row justify-content-center p-2 shadow-lg mt-3 bg-body rounded">

      <div class="col-md-12 p-2">
        <label class="form-control bg-primary text-white shadow rounded-pill"><h3>Oferta Nº {{this.getDataOffer(0)}}</h3></label>
      </div>

      <div class="card fs-4" style="width: 40rem;">
        <div class="card-body">
          <h3 class="card-title">{{this.getDataOffer(1)}}</h3>
          <h5 class="card-text">Empresa: {{getDataOffer(3)}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class=" list-group-item">Descripción: <p>{{getDataOffer(2)}}</p></li>
          <li class=" list-group-item">Ciudad del puesto de trabajo: <p>{{getDataOffer(5)}}</p></li>
          <li class="list-group-item">Sueldo: <p>{{getDataOffer(4)}}€ brutos al año</p></li>
          <li class="list-group-item">Email de contacto: <p>{{getDataOffer(6)}}</p></li>
        </ul>
        <div class="col-md-12 mt-4">
          <button class="btn btn-primary shadow-sm m-2 col-md-2 shadow rounded-pill"
                (click)="goToHome()">
                  Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
