<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva_Oferta</title>
</head>
<body>
  <h1>Nueva Oferta</h1>

  <main class="mt-5 mb-5 ">
    <div class="row d-flex justify-content-center">
        <div class="col-8 col-sm-4 d-flex justify-content-center align-items-center">

          <div class="row justify-content-center p-2 shadow-lg mt-3 bg-body rounded">

            <div class="col-md-12 p-2">
              <label class="form-control bg-primary text-white">Nueva Oferta. Completa todos los campos</label>
            </div>
            <form class="row"
              name="loginForm">
              <div class="col-md-12">
                <div class="input-group mt-3 form-floating">
                  <input class="form-control col-md-4"
                        type="text"
                        name="title"
                        formControlName="title"
                        required>
                  <label for="title"
                        class="form-label">Título de la oferta</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group mt-3 form-floating">
                  <textarea class="form-control col-md-4"
                        type="text"
                        name="description"
                        formControlName="description"
                        rows="4"
                        required></textarea>
                  <label for="description"
                        class="form-label">Descripción de la oferta</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mt-3 form-floating">
                  <input class="form-control col-md-4"
                        type="text"
                        name="company"
                        formControlName="company"
                        required>
                  <label for="company"
                        class="form-label">Empresa que presenta la oferta</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mt-3 form-floating">
                  <input class="form-control col-md-4"
                        type="number"
                        name="salary"
                        formControlName="salary"
                        required>
                  <label for="salary"
                        class="form-label">Sueldo bruto anual</label>
                        <span class="input-group-text"id="email">€</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mt-3 form-floating">
                  <input class="form-control col-md-4"
                        type="text"
                        name="city"
                        formControlName="city"
                        required>
                  <label for="city"
                        class="form-label">Ciudad donde se desempeñará el trabajo</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mt-3 form-floating">
                  <input class="form-control col-md-4"
                        type="email"
                        name="email"
                        formControlName="email"
                        required>
                  <label for="email"
                        class="form-label">Usuario</label>
                  <span class="input-group-text"id="email">@</span>
                </div>
              </div>
              <div class="col-md-4 mt-2">
                <button class="btn btn-primary m-2"
                        type="submit"
                        data-bs-toggle="tooltip"
                        data-bs-placement="left"
                        title="Si lo ves, pulsa para entrar">
                        Crear nueva oferta
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
</main>
</body>
</html>
