/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required  {
  border: 2px solid #42A948; /* green */
  }

.ng-invalid:not(form)  {
  border-bottom: 3px solid #d3b81e; /* yellow */
  }

  html,body{
    height: auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
  }

  body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url(../src/assets/BackGroundInit.jpg)  !important; */
  }

  h1 {
    text-shadow: 1px 2px 4px black
  }

  ::-webkit-scrollbar {display: none;}

  .bg-primary, .btn-primary, .btn-outline-primary{
    background-color: rgba(2, 117, 216, 0.8) !important;
    color: white;
  }

  .bg-light{
    background-color: rgba(250, 250, 250, 0.8) !important;
  }
